body {

    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    color: #ea7c1a;
    background-color: #131c23;
    margin: 0px;
    padding: 10px;
}
#wrapper {
    width: 1000px;
    background-color: azure;
    margin-left: auto;
    margin-right: auto;
}

h1 {

    text-align: center;
    padding: 10px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

section {

    margin-left: 80px;
    margin-right: 80px;
    padding: 10px;
}