body {

    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    color: #ea7c1a;
    background-color: #131c23;
    margin: 0px;
    padding: 10px;
}
#wrapper {
    width: 1000px;
    background-color: azure;
    margin-left: auto;
    margin-right: auto;
}
#welcome {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
    color: #131c23;
    background-color: #ea7c1a; /* Light blue background */
    border: 2px solid #131c23; /* Blue border */
    border-radius: 8px; /* Rounded corners */
    padding: 20px; /* Space inside the box */
    text-align: center; /* Centered text */
    margin: 20px auto; /* Centered on the page */
    max-width: 600px; /* Maximum width */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}
h1 {

    text-align: center;
    padding: 10px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

section {

    margin-left: 80px;
    margin-right: 80px;
    padding: 10px;
}

#carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-height: 300px;
    overflow: hidden;
    gap: 10px;
}

#carousel img {
    max-height: 300px;
    aspect-ratio: auto 300 / 400;
    border-radius: 10px;
}

#buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}
